#!/bin/bash
[ -f .env ] && source .env

export S3_INPUT_PATH="s3://nesta-ds-projects/dap/kuebiko"

export METAFLOW_PROFILE=ds-cookiecutter
export METAFLOW_DEFAULT_DATASTORE=local

# Activate the conda environment
eval "$(conda shell.bash activate "kuebiko")"
[ "$CONDA_DEFAULT_ENV" = "kuebiko" ] || echo "Have you run \`make install\`?"
