ipykernel
jupytext
flake8
flake8-black
flake8-import-order
flake8-bandit
flake8-bugbear
black
Sphinx
sphinxcontrib-napoleon
sphinx-rtd-theme
awscli
pytest
pre-commit
pre-commit-hooks
pycco @ git+https://github.com/bishax/pycco
mkdocs
mkdocs-material
mkdocs-material-extensions
setuptools<58
hypothesis
mypy
pydeps
types-requests
types-selenium
types-beautifulsoup4
pytest-env
